APPINSIGHTS_INSTRUMENTATIONKEY=foo
COSMOSDB_KEY=key
COSMOSDB_NAME=cosmoname
COSMOSDB_URI=uri
MAILHOG_HOSTNAME=mailhog
MAIL_FROM=mail@example.it
MESSAGE_CONTAINER_NAME=msg
NODE_ENV=dev
QueueStorageConnection=foobar
EventsQueueStorageConnection=foobar
REQ_SERVICE_ID=req_id_dev
